//
//  Config.xcconfig
//  Abstrakt
//
//  Created by Muhammad Darrel Prawira on 23/06/26.
//

DEVELOPMENT_TEAM = 26C3R3K269

// Include a local configuration file that won't be tracked by Git
#include? "Signing.local.xcconfig"

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
