//
//  Config.xcconfig
//  Abstrakt
//
//  Created by Muhammad Darrel Prawira on 23/06/26.
//

CODE_SIGN_STYLE = Automatic
CODE_SIGN_IDENTITY = Apple Development
// Include a local configuration file that won't be tracked by Git
#include? "Signing.local.xcconfig"

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
