Abstrakt/.DS_Store
Abstrakt/Config/Signing.local.xcconfig
Abstrakt.xcodeproj/project.pbxproj
Abstrakt.xcodeproj/project.xcworkspace/xcuserdata/msafdev.xcuserdatad/UserInterfaceState.xcuserstate
Abstrakt.xcodeproj/xcuserdata/msafdev.xcuserdatad/xcschemes/xcschememanagement.plist
